#title {
  width: 400px;
  margin:0 35% auto;
}

#forms {
  margin:10px 28% auto;
  width: 270px;
  height: 100%;
}

#message-input {
  width: 450px;
  height: 40px;
  resize: none;
}

#username-input {
  margin-bottom: 7px;
}

#messages {
  margin:0 auto;
}

.message {
  margin: 0 auto;
}

.message-text {
  white-space: pre-wrap;
}

.username {
  background-color: green;
  border-radius: 2px;
  max-width: 100%;
  display: inline-block;
}
